
a{  background-color: #FFFF66;
    border-left: 2px solid #FFCC33;
    border-right: 1px solid #FFCC33;
    border-radius: 5px;
    color: #ff6666;
    display: inline-block;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px; 
    padding: 12px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    } 
a:hover{background-color: #cc0000;
        color: white;
        text-decoration: none;
        } 
.ak1{   margin-left: 30px;
        }
.ak2{   text-align: center;
        }
        
        /*
.ak3{   padding: 20px;
        }
        */
.ak4{   background-color: white;
        border: 3px solid #cc9900;
        margin-top: 20px;
        margin-left: 150px;
        width: 1050px;
        padding:20px
        }

.ak5{   background-color: #ffff66;
        border: 3px solid #cc9900;
        color: #996600;
        margin-left: 53px;
        width: 900px;
        padding: 20px;
        }
.ak6{   text-align:left
        }
        
body{   background-color: #FF9900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 20px;
        }

button:active{  background-color: #cc0000;
                color:white;border-radius: 4px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
footer{ background-color: #FFCC66;
        border: 3px solid #cc9900;
        color: #996600;
        margin-top: 15px;
        padding: 20px;
        }

header{ background-color: #FFCC66;
        border: 3px solid #cc9900;
        color: #996600;
        padding: 20px;
        }
input[type="text"], input[type="email"], textarea, select, button{
        background-color: #ffffcc;
        border-color:#996600 ;
        border-radius: 4px; 
        box-shadow: inset 2px 2px 5px #FFCC66;
        box-sizing: border-box;
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 15px;
        margin-left: auto;
        margin-top: 15px;
        margin-right: auto;
        width: 400px;
        }

textarea{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 100px;
        padding: 5px 4px;
        }
/* einde */